<center><h1>Editing article</h1></center>

<%= render 'form', article: @article %>

<hr>
<%= link_to articles_path do %>
  <i class="fa fa-history"></i> Back to articles
<% end %>
<br>
<%= link_to article_path(@article) do %>
  <i class="fa fa-history"></i> Show updated article
<% end %>